.sidebar {
    width: 280px;
    background-color: #FFFFFF;
    height: 100vh;
    padding: 20px;
    box-shadow: 1px 0 5px rgba(0,0,0,0.1);
    position: fixed;
    border-radius: 0 5%;
    display: flex;
    flex-direction: column; /* Sắp xếp theo cột */
    justify-content: space-between; /* Đảm bảo các phần tử trên và dưới cùng cách đều */
  }
  
  .logobox {
    width: 240px;
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px;
    height: 50px;
  }
  
  .textLogo {
    font-size: 20px;
    margin-left: 5px;
    font-weight: bold;
    color: #F15E2B;
  }
  
  .ul_1 {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1; /* Cho phép danh sách chiếm không gian còn lại */
    display: flex;
    flex-direction: column; /* Sắp xếp các mục theo cột */
    justify-content: center; /* Căn giữa các mục trong không gian còn lại */
  }
  
  .li {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Giảm khoảng cách giữa các mục */
    cursor: pointer;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    transition: filter 0.3s;
    filter: grayscale(100%) brightness(0); /* Mặc định icon có màu đen */
}

.icon:hover, .activeLink .icon {
    filter: none; /* Trở về màu gốc khi di chuột hoặc khi đang active */
}
  
  .link {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s;
  }
  
  .activeLink {
    color: #F15E2B;
  }
  
  .ul2 {
    margin-top: 20px; /* Điều chỉnh lại khoảng cách trên cho phần dưới cùng */
    list-style-type: none;
    padding: 0;
  }
  